---
const { text, link, target } = Astro.props

import svgHl from '../assets/hl.svg'
---

<div class="relative group flex justify-center"> 
   <a href={link} target={target} class="bg-[var(--accent-yellow)] text-black text-md font-medium flex items-center justify-center h-12 px-6 border-3 rounded-full ">
      {text}
   </a>
</div>