---
import { author } from '../claireaime'

const socials = [
	{ icon: 'ri-instagram-line', link: author.instagram },
    { icon: 'ri-linkedin-line', link: author.linkedin },
]

---

<footer class="border-t-4 px-5 md:px-0 py-10 mt-30">
    <div class="max-w-3xl mx-auto flex justify-center flex-col gap-5 md:gap-0 md:grid md:grid-cols-2 items-center">
      <div class="text-center">
        <p>© {new Date().getFullYear()} {author.name}. Tout droits réservés.</p>
      </div>
      <div class="flex md:justify-end gap-5">
        {socials.map(item => ( 
          <a href={item.link} target="_blank" class="transition-all duration-200 hover:translate-y-[2px]"><i class={`${item.icon} text-2xl`}></i></a>
        ))}
      </div>
    </div>
   </footer>